name: Automatic builds and publish for Godot
on:
  push:
    branches:
      - master

permissions:
  contents: write

env:
  GODOT_VERSION: 4.5.1
  PROJECT_PATH: .

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          lfs: true # Keeping in case we use it

      - name: Setup Godot
        uses: chickensoft-games/setup-godot@v1
        with:
          version: ${{ env.GODOT_VERSION }}
          use-dotnet: false
          include-templates: true

      - name: Create Build Directories
        run: |
          mkdir -p build/web
          mkdir -p build/windows
          mkdir -p build/linux
          mkdir -p build/mac

      # EXPORT STEPS
      # The first argument is the name of the Preset in export_presets.cfg
      # The second argument is the output path
      
      - name: Build Web
        run: godot --headless --verbose --export-release "Web" "${{ github.workspace }}/build/web/index.html" ${{ env.PROJECT_PATH }}/project.godot

      - name: Build Windows
        run: godot --headless --verbose --export-release "Windows Desktop" "${{ github.workspace }}/build/windows/game.exe" ${{ env.PROJECT_PATH }}/project.godot

      - name: Build Linux
        run: godot --headless --verbose --export-release "Linux" "${{ github.workspace }}/build/linux/game.x86_64" ${{ env.PROJECT_PATH }}/project.godot

      # DEPLOYMENT STEPS

      - name: Upload Desktop Builds as Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Desktop-Builds
          path: build/*
          # Excludes the web build from the artifact zip to save space, 
          # since it's being deployed to Pages separately.
          exclude: build/web 

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: build/web # The folder containing index.html
